[package]
name = "alshdavid-shared-worker-memory"
version = "0.1.0"
license = "ISC"
edition = "2018"
exclude = ["index.node"]

[lib]
crate-type = ["cdylib"]

[dependencies]
dashmap = "5.5.3"
once_cell = "1.18.0"

[dependencies.neon]
version = "0.10"
default-features = false
features = ["napi-6"]
